body{
  padding-top: 50px;
}
textarea:hover,textarea {
  width:100%;
  height: 100%;
  font-size: 18px;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  outline:0px !important;
  -webkit-appearance:none;
  resize: none;
}
.navbar-default {
  background-color: #3F51B5;
  border-color: #3F51B5;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
  border-color: #3F51B5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3F51B5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

#flash{
  color: #64ff6a;
  font-weight: bold;
}

.btn-custom {
  margin-top: 8px;
}

.app-heading {
  margin-left: 8px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

textarea {
  padding: 8px;
  border: 1px solid #e6e4e4;
}

.dark textarea {
  padding: 8px;
  border: #000000;
  background-color: #171616;
  color: #dedede;
}

.dark{
  background-color: #171616;
}

.adFooter {
    position: fixed;
    bottom: 0px;
    font-size: 0.8em;
    z-index: 1000;
    background: #ffffff;
    padding: 5px;
    text-align: center;
    width: 100%;
    color: #ffffff;
    float: left;
    border-top: 1px solid #f0f0f0;
}

#mode{
  font-size: 23px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  float: right;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
  }
}



@media (min-width: 768px){
  .navbar-nav {
      float: right;
      margin: 0;
  }
}
