body {
  padding-top: 42px;
  /*overflow-y:hidden;*/
}

.starter-template {
  padding: 15px 15px;
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nav-tabs {
  font-size: 20px;
}

.full-width {
  /*width:50% !important;*/
  margin-bottom: 10px;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px !important;
}

.flex-navbar {
  display: flex;
  padding-left: 12px;
  color: white;
  font-weight: bold;
}

.brand-title,
.brand-title:hover {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

#time,
#time_short,
#time_long {
  font-size: 8em;
  margin-top: 0;
}

h1 {
  font-size: 80px;
}

.nav>li>a {
  padding: 5px 5px !important;
  margin-right: 0 !important;
  color: black;
}

.nav-tabs>li {
  /* width = (100 / number of tabs). This example assumes 3 tabs. */
  width: 33.33333%;
  text-align: center;
}

.nav-tabs>li.active>a {
  font-weight: bold;
}

.custom-btn {
  color: #fff;
  border-color: #fff;
}

.btn {
  border-radius: 0;
}

.navbar {
  min-height: 41px;
  line-height: 41px;
  !important
}

.navbar-brand {
  float: none;
  text-align: center;
}

footer {
  text-align: center;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for vh unit */
  min-height: 100vh;
  /* You might also want to use
                          'height' property instead.
                          
                          Note that for percentage values of
                          'height' or 'min-height' properties,
                          the 'height' of the parent element
                          should be specified explicitly.
    
                          In this case the parent of '.vertical-center'
                          is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  /* Align the bootstrap's container vertically */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
  width: 100%;

  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.
    
       Therefore, we should use the following declarations to get it centered again */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 5em;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 5em;
  }

  .navbar-header {
    float: none;
  }
}

/* md */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 5em;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 5em;
  }

}