html, body, section, .full-height {
    height: 100%;
}

#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#markdown {
    overflow: auto;
}

.pref {
  float: right;
  width: 50%;
  text-align: right;
  padding-right: 10px;
}

.mode {
  float: left;
  width: 50%;
  text-align: left;
  padding-left: 10px;
}

.mdHtml {
  display:none;
  width:100%;
  height:100%;
  resize:none;
  overflow:auto;
}

#editArea {
    display: flex;
    flex-direction: row;
}

#textPanel {
    width: 50%;
    padding: 0;
}

#previewPanel {
    width: 50%;
    background-color: #f2f2f2;
}

img {
    width: 100%;
}

.emoji {
	width: auto;
	aspect-ratio: 1/1;
}

#angleToolBar {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.optContainer{
  position:fixed;
  top: 34px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 30px;
  background-color: #dfb4a4;
  border-bottom: 1px solid #dfb4a4;
  display: flex;
  align-items: center;
}

#htmlPreview:focus{
  outline: 1px solid #ECE6E6;
}

#toolbarArea{
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 28px;
  display:none;
  border-bottom: 1px #BFBFBF solid;
  background-color: #E8E8E8;
}

.editor-toolbar{
    display: inline-block;
    text-align: center;
    text-decoration: none!important;
    color: #2c3e50!important;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    line-height: 24px;
    padding: 4px 10px 0px 6px;
}

.editor-toolbar:hover {
    background: #fcfcfc;
    border-color: #95a5a6;
}

.separator {
    display: inline-block;
    width: 0;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #fff;
    color: transparent;
    text-indent: -10px;
    margin: 0 6px;
}

.toolContainer{
  width: 16px;
  float: left;
}

input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #442178;
}

.modal--default__content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    background: #f2f0ed;
}

.markdown-help-content {
    width: 100%;
    border-spacing: 0;
}

.markdown-help-content tr {
    line-height: 30px;
}

.markdown-help-content tr:nth-child(even) {
    background-color: rgb(212, 212, 212);
}

.markdown-help-content tr:first-child td {
    border-top: 0;
}
.markdown-help-content td {
    border-top: 1px solid rgba(38,50,56,.1);
    min-width: 180px;
}

.theme-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.theme-container > div {
    display: flex;
    align-items: center;
    gap: 4px;
}


.theme-container > div input[type=radio]{
    margin: 0;
}

.theme-container > div label{
    margin-bottom: 0;
}

.dark #previewPanel {
    background: #1f1f1f;
    color: #E0E0E0;
}

.dark textarea{
    background: #151515;
    color: #E0E0E0;
}

.main-title{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 34px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif, monospace;
  display: flex;
  align-items: center;
  background-color: #583d34;
    color: white;
}

.dark .main-title {
    background-color: #171f4b;
}

.dark .optContainer {
    background-color: #b1bdff;
    border-bottom: 1px solid #b1bdff;
}

.row {
    margin: 0;
}

.app-title{
  float: left;
  padding-left:10px;
  display: flex;
  align-items: center;
}

.app-title img {
    width: 20px;
    height: 20px;
}

.app-title a{
  color: #fff;
}

.git-buttons{
  float: right;
  padding-right:10px;
}

.btn-sm {
    padding: 2px 10px;
}
.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
}
.btn-green {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
} */
